.btn-default {
    background-color: white !important;
    border-style: solid !important;
    border-color: lightgrey !important;
}

.form-control {
    background-color: white !important;
}

.blog-post-link {
    text-decoration: none !important;
    color: #5598ba !important;
}
